/* 모바일에서 인터넷 페이지 주소창, 아래 네비바 제외 스크린 크기 /////////////////////////////////////////////////
vw = vh /6 *10 로 계산
@media screen and (max-width: 767px) */

body {
  margin: 0 auto;
  font-family: 'Malgun Gothic', Helvetica, sans-serif;
  background-color: black;
}

.gridItem:nth-child(1) {
  position: relative;
}

.gridItem:nth-child(1)::before {
  content: '';
  background-image: url('../image/yeCity.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
}

.gridItem:nth-child(2) {
  position: relative;
}

.gridItem:nth-child(2)::before {
  content: '';
  background-color: lightgray;
  /* background-image: url('../image/todayCity.jpg');
background-repeat: no-repeat;
background-size: cover; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
}

.gridItem:nth-child(3) {
  position: relative;
}

.gridItem:nth-child(3)::before {
  content: '';
  background-image: url('../image/toCity.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
}

.gridItem * {
  position: relative;
}

.gridItem:nth-child(1),
.gridItem:nth-child(3) {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.gridItem:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.gridItem:nth-child(2):nth-child(1) {
  grid-row: 1 / span 2;
}

.gridItem2-2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.gridItem3 {
  display: grid;
  grid-template-columns: 1.7fr 1fr;
}

/* iconSize = SMALL /////////////////////////////////////////////// */
.yetoGoOffSun,
.yetoGoOffRain,
.yetoGoOffRainsnow,
.yetoGoOffSnow,
.yetoGoOffShower,
.yetoGoOffCloud,
.yetoGoOffBlur {
  background-image: url('../image/weatherIcon.png');
  background-repeat: no-repeat;
  background-size: 50vh;
}

.yetoGoOffSun {
  background-position: -36.5vh -15.5vh;
}

.yetoGoOffRain {
  background-position: -36.5vh -3.5vh;
}

.yetoGoOffRainsnow {
  background-position: -36.5vh -40vh;
}

.yetoGoOffSnow {
  background-position: -24vh -28vh;
}

.yetoGoOffShower {
  background-position: -12vh -16vh;
}

.yetoGoOffCloud {
  background-position: 1vh -3.5vh;
}

.yetoGoOffBlur {
  background-position: 1vh -16vh;
}

/* iconSize = MEDIUM /////////////////////////////////////////////// */
.yetoSun,
.yetoRain,
.yetoRainsnow,
.yetoSnow,
.yetoShower,
.yetoCloud,
.yetoBlur {
  background-image: url('../image/weatherIcon.png');
  background-repeat: no-repeat;
  background-size: 60vh;
}

.yetoSun {
  background-position: -43.5vh -19vh;
}

.yetoRain {
  background-position: -44vh -4vh;
}

.yetoRainsnow {
  background-position: -44vh -49vh;
}

.yetoSnow {
  background-position: -29vh -34vh;
}

.yetoShower {
  background-position: -14vh -19vh;
}

.yetoCloud {
  background-position: 1vh -4vh;
}

.yetoBlur {
  background-position: 1vh -18vh;
}


/* iconSize = LARGE ////////////////////////////////////////////////////// */
.todaySun,
.todayCloud,
.todayBlur,
.todayRain,
.todayRainsnow,
.todaySnow,
.todayShower {
  background-image: url('../image/weatherIcon.png');
  background-repeat: no-repeat;
  background-size: 90vh;
}

.todaySun {
  background-position: -69.5vh -31vh;
}

.todayCloud {
  background-position: -2.8vh -8vh;
}

.todayBlur {
  background-position: -2.8vh -31vh;
}

.todayRain {
  background-position: -69.5vh -9vh;
}

.todayRainsnow {
  background-position: -69.5vh -76vh;
}

.todaySnow {
  background-position: -47.5vh -54vh;
}

.todayShower {
  background-position: -25.5vh -31vh;
}


/* 텍스트 공통 속성 */
.yetoCondition,
.yetoCondition2,
.yetoCondition3,
.yetoCondition3:nth-child(1),
.todayCondition,
.todayCondition21,
.todayCondition22,
.goOffWord,
#todayTitle,
#todayTime,
#yesterdayTitle,
#tomorrowTitle {
  text-shadow: 0 0 2px #ffffff, 0 0 1px #ffffff;
  color: #ffffff;
}

.yetoCondition {
  font-size: 2.5vh;
  /* font-weight: bold; */
  margin: 1.3vh;
  text-align: center
}

.yetoCondition2 {
  font-size: 1.7vh;
  margin: auto 0.6vh;
}

.yetoCondition3 {
  font-size: 1.7vh;
  margin: 1.5vh 0.3vh 1vh 0.3vh;
  text-align: center;
}

.yetoCondition3:nth-child(1) {
  font-size: 1.7vh;
  margin: 3vh 0.3vh 1vh 0.3vh;
  /* text-align: center; */
}

.todayCondition {
  font-size: 3vh;
  margin: 1.3vh;
  text-align: center
}

.todayCondition21,
.todayCondition22 {
  margin: 2vh 0.1vh;
  font-size: 2vh;
  text-align: center
}

.todayCondition21:nth-child(1),
.todayCondition22:nth-child(1) {
  margin: 6vh 0.1vh 1vh 0.1vh;
}

.goOffWord {
  font-size: 2vh;
  padding: 1.2vh 0.7vh;
}

#gridContainer {
  background-color: #888;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1.8fr 1fr;
  column-gap: 0;
  align-content: stretch;
}

#body {
  width: 60vh;
  height: 100vh;
  /* aspect-ratio: 3 / 5; */
  margin: 0 auto;
}

#todayTitle,
#todayTime {
  font-size: 2.5vh;
  margin: 1.3vh 0.3vh;
}

#yesterdayTitle,
#tomorrowTitle {
  font-size: 2vh;
  margin: 1.2vh;
}

#yeIcon,
#toIcon {
  margin: 1.5vh auto;
  width: 75%;
  height: 13vh;
}

#yeGoIcon,
#yeOffIcon,
#toGoIcon,
#toOffIcon {
  margin: 1vh 4vh 1.5vh 6vh;
  width: 14vh;
  height: 11vh;
}

#todayIcon {
  margin: 0vh auto;
  padding-top: 0vh;
  width: 80%;
  height: 14.6vh;
}

#todayGoIcon,
#todayOffIcon {
  height: 15vh;
  width: 70%;
  margin: 0 auto;
}

#todayNow {
  border: 2px solid black;
  border-right: none;
}

#todayGo {
  border: 2px solid black;
}

#todayOff {
  border: 2px solid black;
  border-top: none;
}


/* 모바일에서 인터넷 페이지 주소창, 아래 네비바 제외 스크린 크기 /////////////////////////////////////////////////
vw = vh /6 *10 로 계산 */
@media screen and (max-width: 767px) {
  body {
    margin: 0 auto;
    font-family: 'Malgun Gothic', Helvetica, sans-serif;
    background-color: black;
  }

  .gridItem:nth-child(1) {
    position: relative;
  }

  .gridItem:nth-child(1)::before {
    content: '';
    background-image: url('../image/yeCity.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
  }

  .gridItem:nth-child(2) {
    position: relative;
  }

  .gridItem:nth-child(2)::before {
    content: '';
    background-color: lightgray;
    /* background-image: url('../image/todayCity.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
  }

  .gridItem:nth-child(3) {
    position: relative;
  }

  .gridItem:nth-child(3)::before {
    content: '';
    background-image: url('../image/toCity.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
  }

  .gridItem * {
    position: relative;
  }

  .gridItem:nth-child(1),
  .gridItem:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
  }

  .gridItem:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
  }

  .gridItem:nth-child(2):nth-child(1) {
    grid-row: 1 / span 2;
  }

  .gridItem2-2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .gridItem3 {
    display: grid;
    grid-template-columns: 1.7fr 1fr;
  }


  /* iconSize = SMALL /////////////////////////////////////////////// */
  .yetoGoOffSun,
  .yetoGoOffRain,
  .yetoGoOffRainsnow,
  .yetoGoOffSnow,
  .yetoGoOffShower,
  .yetoGoOffCloud,
  .yetoGoOffBlur {
    background-image: url('../image/weatherIcon.png');
    background-repeat: no-repeat;
    background-size: 83.33vw;
  }

  .yetoGoOffSun {
    background-position: -60.83vw -25.83vw;
  }

  .yetoGoOffRain {
    background-position: -60.83vw -5.83vw;
  }

  .yetoGoOffRainsnow {
    background-position: -60.83vw -66.67vw;
  }

  .yetoGoOffSnow {
    background-position: -40vw -46.67vw;
  }

  .yetoGoOffShower {
    background-position: -20vw -26.67vw;
  }

  .yetoGoOffCloud {
    background-position: 1.67vw -5.83vw;
  }

  .yetoGoOffBlur {
    background-position: 1.67vw -26.67vw;
  }

  /* iconSize = MEDIUM /////////////////////////////////////////////// */
  .yetoSun,
  .yetoRain,
  .yetoRainsnow,
  .yetoSnow,
  .yetoShower,
  .yetoCloud,
  .yetoBlur {
    background-image: url('../image/weatherIcon.png');
    background-repeat: no-repeat;
    background-size: 100vw;
  }

  .yetoSun {
    background-position: -72.5vw -31.67vw;
  }

  .yetoRain {
    background-position: -73.33vw -6.67vw;
  }

  .yetoRainsnow {
    background-position: -73.33vw -81.67vw;
  }

  .yetoSnow {
    background-position: -48.33vw -56.67vw;
  }

  .yetoShower {
    background-position: -23.33vw -31.67vw;
  }

  .yetoCloud {
    background-position: 1.67vw -6.67vw;
  }

  .yetoBlur {
    background-position: 1.67vw -30vw;
  }


  /* iconSize = LARGE ////////////////////////////////////////////////////// */
  .todaySun,
  .todayCloud,
  .todayBlur,
  .todayRain,
  .todayRainsnow,
  .todaySnow,
  .todayShower {
    background-image: url('../image/weatherIcon.png');
    background-repeat: no-repeat;
    background-size: 150vw;
  }

  .todaySun {
    background-position: -115.83vw -51.67vw;
  }

  .todayCloud {
    background-position: -4.67vw -13.33vw;
  }

  .todayBlur {
    background-position: -4.67vw -51.67vw;
  }

  .todayRain {
    background-position: -115.83vw -15vw;
  }

  .todayRainsnow {
    background-position: -115.83vw -126.67vw;
  }

  .todaySnow {
    background-position: -79.17vw -90vw;
  }

  .todayShower {
    background-position: -42.5vw -51.67vw;
  }


  /* 텍스트 공통 속성 */
  .yetoCondition,
  .yetoCondition2,
  .yetoCondition3,
  .yetoCondition3:nth-child(1),
  .todayCondition,
  .todayCondition21,
  .todayCondition22,
  .goOffWord,
  #todayTitle,
  #todayTime,
  #yesterdayTitle,
  #tomorrowTitle {
    text-shadow: 0 0 2px #ffffff, 0 0 1px #ffffff;
    color: #ffffff;
  }


  .yetoCondition {
    font-size: 4.17vw;
    /* font-weight: bold; */
    margin: 2.17vw;
    text-align: center
  }

  .yetoCondition2 {
    font-size: 2.83vw;
    margin: auto 1vw;
  }

  .yetoCondition3 {
    font-size: 2.83vw;
    margin: 2.5vw 0.5vw 1.67vw 0.5vw;
    text-align: center;
  }

  .yetoCondition3:nth-child(1) {
    font-size: 2.83vw;
    margin: 5vw 0.5vw 1.67vw 0.5vw;
    /* text-align: center; */
  }

  .todayCondition {
    font-size: 5vw;
    margin: 2.17vw;
    text-align: center
  }

  .todayCondition21,
  .todayCondition22 {
    margin: 3.33vw 0.17vw;
    font-size: 3.33vw;
    text-align: center
  }

  .todayCondition21:nth-child(1),
  .todayCondition22:nth-child(1) {
    margin: 10vw 0.17vw 1.67vw 0.17vw;
  }

  .goOffWord {
    font-size: 3.33vw;
    padding: 2vw 1.17vw;
  }

  #gridContainer {
    background-color: #888;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1.8fr 1fr;
    column-gap: 0;
    align-content: stretch;
  }

  #body {
    width: 100vw;
    height: 166.66vw;
    min-height:
      /* aspect-ratio: 3 / 5; */
      margin: 0 auto;
  }

  #todayTitle,
  #todayTime {
    font-size: 4.17vw;
    margin: 2.17vw 0.5vw;
  }

  #yesterdayTitle,
  #tomorrowTitle {
    font-size: 3.33vw;
    margin: 2vw;
  }

  #yeIcon,
  #toIcon {
    margin: 2.5vw auto;
    width: 75%;
    height: 21.67vw;
  }

  #yeGoIcon,
  #yeOffIcon,
  #toGoIcon,
  #toOffIcon {
    margin: 1.67vw 6.67vw 2.5vw 10vw;
    width: 23.33vw;
    height: 18.33vw;
  }

  #todayIcon {
    margin: 0vw auto;
    padding-top: 0vw;
    width: 80%;
    height: 24.33vw;
  }

  #todayGoIcon,
  #todayOffIcon {
    height: 25vw;
    width: 70%;
    margin: 0 auto;
  }

  #todayNow {
    border: 2px solid black;
    border-right: none;
  }

  #todayGo {
    border: 2px solid black;
  }

  #todayOff {
    border: 2px solid black;
    border-top: none;
  }
}