body {
  margin: 0;
}

.boxItem {
  border: 1px solid blue;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: all 0.2s ease-in-out;
}

.activeBox {
  background-color: coral;
}

#body {
  width: 400px;
  margin: 0px auto;
}

#boxContainer {
  border: 1px solid black;
  border-collapse: collapse;
  width: 400px;
  height: 400px;
  font-size: 30px;
  position: relative;
  /* display: flex;
  flex-wrap: wrap; */
}