body {
  margin: 0;
  display: flex;
  height: 800px;
  align-items: center;
}

.boxItem {
  background: linear-gradient(45deg, #b3cae5 12%,
      #dbdde4 46%,
      #e4e3e4 70%,
      #f7ddbb 94%,
      #efcab2 100%);
  box-shadow: inset 1em #943f3f;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: all 0.2s linear;
  z-index: 1;
  cursor: default;
}

.boxItem.boxItemTransitionNone {
  background: linear-gradient(45deg, #b3cae5 12%,
      #dbdde4 46%,
      #e4e3e4 70%,
      #f7ddbb 94%,
      #efcab2 100%);
  box-shadow: inset 1em #943f3f;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: none;
  z-index: 1;
  cursor: default;
}

.activeBox {
  opacity: 0;
  border: none;
  transition: all 0s;
}

#body {
  width: 400px;
  margin: 0px auto;
}

#boxContainer {
  border: 10px solid firebrick;
  border-collapse: collapse;
  width: 400px;
  height: 400px;
  font-size: 30px;
  position: relative;
  /* display: flex;
  flex-wrap: wrap; */
}

#randomBtnContainer {
  width: 300px;
  height: 100px;
  margin: 50px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#randomBtn {
  background-color: rgb(9, 116, 158);
  width: 150px;
  height: 70px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  line-height: 70px;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 0 5px #494949, 2px 2px 2px #505050;
}