body {
  margin: 0;
}

ul {
  list-style: none;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 542px;
  margin: 0;
  padding: 0;
}

li {
  border-top: 1px solid gray;
  display: inline-table;
  min-height: 70px;
}

input {
  font-size: 1.8em;
  width: 467px;
  height: 70px;
  padding: 0;
  padding-left: 5px;
  border-width: 0;
}

input:focus {
  outline: none;
}

input::placeholder {
  font: italic 1em "맑은 고딕";
  color: #bbbbbb;
}

.listLeftSpan {
  width: 70px;
  min-height: 70px;
  display: table-cell;
  background-image: url('../image/uncheck.png');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center center;
}

.listLeftSpanCheck {
  width: 70px;
  min-height: 70px;
  display: table-cell;
  background-image: url('../image/check.png');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center center;
}

.listCenterSpan {
  /* background-color: cadetblue; */
  width: 390px;
  min-height: 54px;
  padding: 13px;
  display: table-cell;
  align-items: center;
  font-size: 2em;
  word-break: break-all;
  line-height: 1.2em;
  cursor: default;
  user-select: none;
}

.listCenterSpanCheck {
  text-decoration: line-through;
  color: lightseagreen;
  user-select: none;
}

.listRightSpan {
  /* background-color: bisque; */
  width: 70px;
  min-height: 70px;
  display: table-cell;
}

.selectItem {
  border: 1px solid #fff;
  padding: 1px 5px;
  cursor: pointer;
}

.listLeftSpan:hover .listLeftSpan:hover~.listRightSpan,
.listCenterSpan:hover~.listRightSpan {
  background-image: url('../image/x1.png');
  background-repeat: no-repeat;
  background-size: 17px 17px;
  background-position: center right 26px;
}

.listRightSpan:hover {
  background-image: url('../image/x2.png');
  background-repeat: no-repeat;
  background-size: 17px 17px;
  background-position: center center;
}

.selectItem:hover,
.selectItem:hover,
.selectItem:hover {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 1px 5px;
  cursor: pointer;
}

#body {
  width: 542px;
  margin: 0 auto;
}

#title {
  width: 542px;
  height: 110px;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
  user-select: none;
}

#inputDiv {
  border: 1px solid gray;
  width: 542px;
  height: 70px;
}

#checkAll {
  width: 70px;
  height: 70px;
  float: left;
}

#todoList {
  /* background-color: gainsboro; */
}

#itemStateDiv {
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 542px;
  height: 50px;
  display: none;
  align-items: center;
  justify-content: space-around;
}

#itemStateDiv>* {
  height: 22px;
  font-size: 15px;
}

#itemLeft {
  margin-right: 60px;
  margin-left: 10px;
  cursor: default;
  width: 76px;
}

#itemClear {
  margin-left: 30px;
  margin-right: 10px;
  cursor: pointer;
}

#copyright {
  border-top: 1px solid gray;
  width: 542px;
  height: 80px;
  text-align: center;
  color: gray;
  padding: 25px;
  box-sizing: border-box;
}

#itemClear:hover {
  margin-left: 30px;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: underline;
}

#checkAll.allUncheck {
  width: 70px;
  height: 70px;
  float: left;
  background-image: url('../image/allUncheck.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25%;
}

#checkAll.allCheck {
  width: 70px;
  height: 70px;
  float: left;
  background-image: url('../image/allCheck.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25%;
}

#itemAll.itemSel,
#itemActive.itemSel,
#itemCompleted.itemSel {
  border: 1px solid #888;
  border-radius: 3px;
  padding: 1px 5px;
  cursor: pointer;
}