header {
    background-color: black;
    height: 200px;
    width: 100%;
    color: red;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    padding: 0px;
}

nav {
    width: 300px;
}

main {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

section {
    width: 100%;
}

footer {
    height: 150px;
}

footer div {
    margin: 0 auto;
    text-align: center;
    line-height: 150px;
}

nav img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
}

nav div {
    margin: 40px 40px;
}

* {
    border: 1px solid gray;
}